<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:rim="http://www.blackberry.com/ns/widgets"
	id="com.ahoyrtc.cordova"
	version="0.1.9">
    <name>AhoyRTC SDK cordova plugin</name>
    <description>Cordova plugin for the AhoyRTC SDK</description>
    <author>Klaus-Peter Junghanns</author>

    <js-module src="www/AhoyRTC.js" name="AhoyRTC">
        <clobbers target="window.AhoyRTC" />
    </js-module>

    <engines>
	<engine name="cordova" version=">=4.0.0" />
    </engines>

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="AhoyRTC">
		<param name="ios-package" value="AhoyCordova" />
	        <param name="onload" value="true" />
	    </feature>
	</config-file>
	
	<config-file target="*-Info.plist" parent="UIBackgroundModes">
	    <array>
		<string>audio</string>
		<string>voip</string>
		<string>remote-notification</string>
	    </array>
	</config-file>

	<config-file target="*-Info.plist" parent="NSCameraUsageDescription">
	    <string>Camera is needed for video calling.</string>
	</config-file>

	<config-file target="*-Info.plist" parent="NSMicrophoneUsageDescription">
	    <string>Microphone is needed for video calling.</string>
	</config-file>

	<header-file src="src/ios/AhoyCordova/AhoyCordova.h" />
	<source-file src="src/ios/AhoyCordova/AhoyCordova.m" />

	<header-file src="src/ios/AhoyCordova/AppDelegate+ahoyrtc.h" />
	<source-file src="src/ios/AhoyCordova/AppDelegate+ahoyrtc.m" />

	<framework src="src/ios/AhoyKit.framework" custom="true" />
    </platform>

    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
	    <feature name="AhoyRTC">
		<param name="android-package" value="com.ahoyrtc.cordova.AhoyCordovaPlugin" />
	        <param name="onload" value="true" />
	    </feature>
	</config-file>
	
	<source-file src="src/android/src/com/ahoyrtc/cordova/AhoyCordovaPlugin.java" target-dir="src/com/ahoyrtc/cordova"  />
	<framework src="src/android/ahoysdk.gradle" custom="true" type="gradleReference" />
	<resource-file src="src/android/libs/ahoysdk.aar" target="libs/ahoysdk.aar" />

	<config-file target="AndroidManifest.xml" parent="/manifest">
	    <uses-permission android:name="android.permission.CAMERA" />
	    <uses-permission android:name="android.permission.RECORD_AUDIO" />
	    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	    <uses-permission android:name="android.permission.INTERNET" />
	    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
	    <uses-permission android:name="android.permission.WAKE_LOCK" />
	</config-file>
	<config-file target="AndroidManifest.xml" parent="/manifest/application">
	    <activity android:name="com.ahoyrtc.sdk.AhoyVideoCallActivity" android:configChanges="orientation|screenSize"></activity>
	</config-file>
    </platform>

</plugin>
