<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
	xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:rim="http://www.blackberry.com/ns/widgets"
	id="com.ahoyrtc.cordova"
	version="0.1.7">
    <name>AhoyRTC SDK cordova plugin</name>
    <description>Cordova plugin for the AhoyRTC SDK</description>
    <author>Klaus-Peter Junghanns</author>

    <js-module src="www/AhoyRTC.js" name="AhoyRTC">
        <clobbers target="window.AhoyRTC" />
    </js-module>

    <engines>
	<engine name="cordova" version=">=4.0.0" />
    </engines>

    <platform name="ios">
	<config-file target="config.xml" parent="/*">
	    <feature name="AhoyRTC">
		<param name="ios-package" value="AhoyCordova" />
	        <param name="onload" value="true" />
	    </feature>
	</config-file>
	
	<config-file target="*-Info.plist" parent="UIBackgroundModes">
	    <array>
		<string>audio</string>
		<string>voip</string>
		<string>remote-notification</string>
	    </array>
	</config-file>

	<header-file src="src/ios/AhoyCordova/AhoyCordova.h" />
	<source-file src="src/ios/AhoyCordova/AhoyCordova.m" />

	<header-file src="src/ios/AhoyCordova/AppDelegate+ahoyrtc.h" />
	<source-file src="src/ios/AhoyCordova/AppDelegate+ahoyrtc.m" />

	<framework src="src/ios/AhoyKit.framework" custom="true" />
    </platform>
</plugin>
